{% extends 'base.html' %}
{% load static %}  

{% block css_files %} 
<link rel="stylesheet" href="{% static "blog/post_new.css" %}" /> 
{% endblock %} 

{% block content %}
{% if post.author.user != request.user %}
    <div div class="post-create">
  <h2>We're sorry!</h2>
  <p>But we couldn't find that page!</p></div>
{% else %}
<div class="post-create">
    <h1>Delete post</h1>
    <form action="" method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ post.title }}"?</p>
      <input type="submit" value="Confirm" />
    </form>
</div>
{% endif %}
{% endblock content %}