body {
    background-color: #a6e5f5;
  }
  
  #main-navigation {
    background-color: #5926e4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    position: fixed;
  }
  
  .post-create {
    margin: auto;
    padding: 2rem;
    width: auto;
    max-width: 40rem;
    position: relative;
    top: 5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: auto;
    transform-origin: center;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
  }

  h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
